.main-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 60px;
    border-radius: 20px;
    background-color: #475569;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #FFF;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.modal-body {
    font-style: 'Open Sans',helvetica,verdana,arial,sans-serif;
    font-size: 16px;
    text-align: center;
}

.modal-body-user {
    font-style: 'Open Sans',helvetica,verdana,arial,sans-serif;
    font-size: 16px;
    padding: 20px;
}

#welcome-btn {
    width: 20%;
}

.next {
    float: right;
}

.previous {
    float: left;
}

#activeList {
    color: white;
    background-color: black;
}

.sidebar-nav-fixed {
    width:17%;
}

#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

.sidebar-right {
  float: right;
  width: 300px;
}

.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 50px;
}

.subList {
    padding-left: 50px;
    padding-right: 20px;
}

.parentList {
    background-color: #F2F1EF;
    padding-right: 10px;
}

.list-group-item.active {
    padding-left: 33px;
}

.sidebar-brand {
    text-align: center;
}

.content-center {
    margin-top: 50px;
    margin-left: 250px;
    width: 55%;
}

.right-button {
    padding-left: -10px;
}

.active-button {
    color: #fff;
    background-color: #337ab7;
}
.active-button:hover {
    color: #fff;
    background-color: #5cb85c;
}

.contacts-green {
    background-color: #5cb85c;
    color: white !important;
}

.contact-info > .label{
    font-size: 15px;
}

table {
    text-align: left;
}

.table-value {
    padding-left: 20px;
}

.user-info-pic {
    font-size: 50px;
    /*padding: 30px;*/
    padding-left: 30px;
    text-align: left;
    padding-right: 70px;
    top: -50px;
}

.li-brand {
    text-align: center;
    font-weight: bold;
}

.contact-info-table {
    padding: 20px;
}

.contact-form {
    padding-bottom: 10px;
}


.list-table {
    font-size: 13px;
}

.contact-hint {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #5cb85c;
    color: #FFF !important;
}

.modal-header.add-contact {
    background-color: #5cb85c;
    color: #FFF !important;
}

.btn-sq {
  width: 120px !important;
  height: 60px !important;
  font-size: 15px;

}

.btn-sq.btn-caption {
    padding-top: 15px;
}

/*.level {
    text-align: left;
    margin-left: -90px;
    font-size: 15px;
}*/
