<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"> <!-- unicode character set -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial scale=1.0">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<meta name="description" content="Web-App Prototype">
		<meta name="author" content="kashif">

		<!-- Bootstrap Core CSS -->
		<!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> -->

		<!-- Latest jQuery -->
		<script type="text/javascript" src="../js/jquery-1.12.0.min.js"></script>


		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!--font-awesome-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="../css/master.css">
		<link rel="stylesheet" href="../css/clock.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
		<!-- <script src="../js/dashboard.js"></script> -->
		<!-- <script src="js/fade.js"></script> -->
		<style media="screen">
			#left-row {
				opacity: 1.0;
			}

			#nav {
				opacity: 1.0;
			}
		</style>
		<!-- Angular UI Bootstrap -->
		<!-- <script src="angular/js/app.js"></script>
		<script src="angular/js/controllers.js"></script>
		<script src="js/ui-bootstrap-tpls-1.1.1.min.js"></script> -->
		<title>SimplyPlayCast!</title>

	</head>
	<body>
		<nav class="navbar-inverse" id="nav">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">SimplyCast</a>
				</div>
				<ul class="nav navbar-nav">
					<!-- change class to "dropdown open" for having expanded enu by default-->
					<li class="active dropdown" id="expandMenu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
						area-haspop="false" area-expanded="false">CRM
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Dashboard</li></a>
							<li><a href="#">Contacts</li></a>
							<li><a href="#">Leads</li></a>
							<li><a href="#" id="activeList">List</li></a>
							<li><a href="#">Tasks</li></a>
							<li><a href="#">Search</li></a>
							<li><a href="#">Pipelines</li></a>
							<li><a href="#">Audiences</li></a><br>
							<li><a href="#">(X) Remove</li></a>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
						area-haspop="true" area-expanded="false">Email
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Dashboard</li></a>
							<li><a href="#">New Project</li></a>
							<li><a href="#">Management</li></a>
							<li><a href="#">Reports</li></a>
							<li><a href="#">Suppression</li></a>
							<li><a href="#">Authentication</li></a><br>
							<li><a href="#">(X) Remove</li></a>
						</ul>
					</li>
				</ul>
				<ul class="navbar-right">
					<i class="fa fa-clock-o"> 4:57</i>
				</ul>
			</div>
		</nav>

		<div class="row" id="left-row">
	        <div class="col-md-3">
	            <div class="sidebar-nav-fixed affix">
	                <div class="sidebar">
	                    <ul class="list-group">
	                        <li class="list-group-item" id="dashboard"><a href="#"> Dashboard</a></li>
	                        <li class="list-group-item" id="contacts"><a href="contacts.html"> Contacts</a></li>
	                        <li class="list-group-item" id="leads"><a href="#"> Leads</a></li>
	                        <li class="list-group-item" id="lists"><a href="#"> Lists</a></li>
	                        <li class="list-group-item" id="tasks"><a href="#"> Tasks</a></li>
	                        <li class="list-group-item" id="searchContacts"><a href="#"> Search Contacts</a></li>
	                        <li class="list-group-item" id="pipelines"><a href="#"> Pipelines</a></li>
	                        <li class="list-group-item" id="audManagement"><a href="#"> Audience Management</a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>

		<div class="container-fluid">
			<div class="row" id="right-row">
		        <div class="col-md-3 sidebar-right">
		            <div class="sidebar-right affix">
		            	<div class="sidebar">
		                    <ul class="list-group">
		                        <li class="list-group-item sidebar-brand">
									<a href="#"> Task View</a>
								</li>
	                        	<li class="list-group-item parentList">
	                        		<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
									Task 1: Create a contact list
								</li>
	                        	<li class="subList list-group-item">
									<i class="fa fa-check-square-o"></i> Level 1: Manually create a list</li>
	                        	<li class="subList list-group-item">
									<i class="fa fa-check-square-o"></i> Level 2: Upload and import from a CSV file</li>
								<li class="subList list-group-item">
									<i class="fa fa-check-square-o"></i> Level 3: Edit existing lists</li>

		                        <li class="list-group-item parentList">
									Task 2: Create email project
		                        </li>
								<li class="subList list-group-item active">
									<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
									Level 1: Create a new email from templates</li>
								<li class="subList list-group-item">
									Level 2: Use advanced editors</li>
								<li class="subList list-group-item">Level 3: Create email templates</li>

								<li class="list-group-item parentList">
									Task 3: Review
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div> <!-- row -->
		</div> <!--container-fluid -->

		<!-- <p align="center">
			<a class="btn btn-sm btn-info" href="#modal-1" data-toggle="modal" data-dismiss="modal">
				<span class="glyphicon glyphicon glyphicon-download" area-hidden="true">Previous</span>
			</a>
		</p> -->
		<div class="modal fade" id="modal-new-list">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">New List</h4>
                    </div>
                    <div class="modal-body">
						<div class="form-group">
							<label for="list">Enter new list name:</label>
							<input type="text" name="list-name" id="list-name" class="form-control"><br>
						</div>
                    </div>
					<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button onclick="getList()" type="button" class="btn btn-primary"
						href="#modal-add-contacts" data-toggle="modal" data-dismiss="modal">Create</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

		<div class="modal fade" id="modal-add-contacts">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">New List</h4>
                    </div> -->
                    <div class="modal-body">
						<p>
							Now add contacts to the list <br>
							<div id="contact-list-name">
							</div>
						</p>
						<!-- <div class="form-group">
							<label for="list">Enter new list name:</label>
							<input type="text" name="list-name" class="form-control"><br>
						</div> -->
                    </div>
					<div class="modal-footer">
                        <a class="btn btn-default" href="#modal-new-list" data-toggle="modal" data-dismiss="modal">Back</a>
                        <a type="button" href="contacts.html" onclick="dimBackground()" class="btn btn-primary ok" data-dismiss="modal">OK</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
	</body>
</html>
